<h3>Profile</h3>
<p><strong>Country: </strong>{{ profile.country }}</p>
<p><strong>Currency: </strong>{{ profile.currency }}</p>
<p><strong>Exchange: </strong>{{ profile.exchange }}</p>
<p><strong>Industry: </strong>{{ profile.finnhubIndustry }}</p>
<p><strong>Ipo: </strong>{{ profile.ipo }}</p>
<p>
  <strong>Logo: </strong
  ><img src="{{ profile.logo }}" alt="Amazon logo smiley tick" />
</p>
<p>
  <strong>Market Capitalization: </strong>{{ profile.marketCapitalization }}
</p>
<p><strong>Name: </strong>{{ profile.name }}</p>
<p><strong>Phone: </strong>{{ profile.phone }}</p>
<p><strong>Share Outstanding: </strong>{{ profile.shareOutstanding }}</p>
<p><strong>Ticker: </strong>{{ profile.ticker }}</p>
<p>
  <strong>Website: </strong
  ><a href="{{ profile.weburl }}">{{ profile.weburl }}</a>
</p>
